In [2]:
import numpy as np
import pandas as pd
hr_data=pd.read_csv('data employee data exit.csv')
hr_data

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.11,0.88,7,272,4,0,1,0,sales,medium

In [3]:
hr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   sales                  14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.0+ MB

In [4]:
hr_data.rename(columns={'sales':'department'}, inplace=True)

In [6]:
hr_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [7]:
# convert string to number

In [8]:
hr_data.department.unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [9]:
hr_data.salary.unique()

array(['low', 'medium', 'high'], dtype=object)

In [10]:
from sklearn.preprocessing import LabelEncoder
for col in ['department', 'salary']:
    le =  LabelEncoder()
    hr_data[col] = le.fit_transform(hr_data[col])

In [11]:
hr_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,7,1
1,0.80,0.86,5,262,6,0,1,0,7,2
2,0.11,0.88,7,272,4,0,1,0,7,2
3,0.72,0.87,5,223,5,0,1,0,7,1
4,0.37,0.52,2,159,3,0,1,0,7,1

In [12]:
hr_data.corr()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
satisfaction_level,1.000000,0.104808,-0.143378,-0.020293,-0.100924,0.058720,-0.388459,0.025613,0.003148,0.011576
last_evaluation,0.104808,1.000000,0.349338,0.339757,0.131588,-0.007162,0.006818,-0.008705,0.007854,0.013989
number_project,-0.143378,0.349338,1.000000,0.417291,0.196782,-0.004851,0.024267,-0.006103,0.009407,0.009796
average_montly_hours,-0.020293,0.339757,0.417291,1.000000,0.127762,-0.010205,0.071556,-0.003567,0.003993,0.007148
time_spend_company,-0.100924,0.131588,0.196782,0.127762,1.000000,0.002102,0.144904,0.067426,-0.017984,-0.003075
Work_accident,0.058720,-0.007162,-0.004851,-0.010205,0.002102,1.000000,-0.154622,0.039245,0.003435,-0.002549
left,-0.388459,0.006818,0.024267,0.071556,0.144904,-0.154622,1.000000,-0.061788,0.032064,-0.001103
promotion_last_5years,0.025613,-0.008705,-0.006103,-0.003567,0.067426,0.039245,-0.061788,1.000000,-0.027333,-0.001334
department,0.003148,0.007854,0.009407,0.003993,-0.017984,0.003435,0.032064,-0.027333,1.000000,0.000740
salary,0.011576,0.013989,0.009796,0.007148,-0.003075,-0.002549,-0.001103,-0.001334,0.000740,1.000000

In [13]:
# co relation between 'left' and other features
fea_corr = hr_data.corr().loc['left']
fea_corr

satisfaction_level      -0.388459
last_evaluation          0.006818
number_project           0.024267
average_montly_hours     0.071556
time_spend_company       0.144904
Work_accident           -0.154622
left                     1.000000
promotion_last_5years   -0.061788
department               0.032064
salary                  -0.001103
Name: left, dtype: float64

In [14]:
type(hr_data.corr().loc['left'])

pandas.core.series.Series

In [15]:
fea_corr.sort_values()

satisfaction_level      -0.388459
Work_accident           -0.154622
promotion_last_5years   -0.061788
salary                  -0.001103
last_evaluation          0.006818
number_project           0.024267
department               0.032064
average_montly_hours     0.071556
time_spend_company       0.144904
left                     1.000000
Name: left, dtype: float64

In [16]:
np.abs(fea_corr).sort_values

<bound method Series.sort_values of satisfaction_level       0.388459
last_evaluation          0.006818
number_project           0.024267
average_montly_hours     0.071556
time_spend_company       0.144904
Work_accident            0.154622
left                     1.000000
promotion_last_5years    0.061788
department               0.032064
salary                   0.001103
Name: left, dtype: float64>

Spliting data into feature & target. Also, train & test

In [17]:
hr_data_x = hr_data.drop(['left'], axis=1)

In [19]:
#target
hr_data_y = hr_data['left']

In [20]:
from sklearn.model_selection import train_test_split
trainX,testX,trainY,testY = train_test_split(hr_data_x,hr_data_y)

In [21]:
testY.shape

(3750,)

Apply Machine Learning Classification algorithm

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB

In [24]:
from sklearn.ensemble import GradientBoostingClassifier,RandomForestClassifier

In [25]:
base_models = [ LogisticRegression(), GaussianNB() , MultinomialNB() ]
base_models_name = ['LogisticRegression','GaussianNB','MultinomialNB']

In [26]:
from sklearn.metrics import accuracy_score

In [27]:
for idx,model in enumerate(base_models):
    model.fit(trainX,trainY)
    y_pred = model.predict(testX)
    print (base_models_name[idx],accuracy_score(testY,y_pred))

LogisticRegression 0.7688
GaussianNB 0.7832
MultinomialNB 0.7704

C:\Users\SAGAR\.conda\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [28]:
### Feature generation function
def feature_gen_func(data,feature_cols,target_col):
    feature_data = data[feature_cols]
    target_data = data[target_col]
    trainX,testX,trainY,testY = train_test_split(feature_data,target_data)
    return trainX,testX,trainY,testY

In [32]:
trainX,testX,trainY,testY = feature_gen_func(hr_data,['satisfaction_level','number_project','average_montly_hours','time_spend_company','Work_accident','promotion_last_5years'], 'left')

In [33]:
trainY.shape

(11249,)

In [34]:
def process_models(hr_data, base_models,base_models_name,feature_cols,target):
    trainX,testX,trainY,testY = feature_gen_func(hr_data,feature_cols,target)
    for idx,model in enumerate(base_models):
        model.fit(trainX,trainY)
        y_pred = model.predict(testX)
        print (base_models_name[idx],accuracy_score(testY,y_pred))

In [35]:
process_models(hr_data, base_models, base_models_name, ['satisfaction_level','number_project','average_montly_hours','time_spend_company','promotion_last_5years'], 'left')

LogisticRegression 0.7650666666666667
GaussianNB 0.8248
MultinomialNB 0.7626666666666667

C:\Users\SAGAR\.conda\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [36]:
base_models = [GradientBoostingClassifier(n_estimators=10),RandomForestClassifier(n_estimators=10)]

In [37]:
base_models_name = ['GradientBoostingClassifier','RandomForestClassifier']

In [38]:
process_models(hr_data,base_models,base_models_name,['satisfaction_level','number_project','average_montly_hours','time_spend_company','promotion_last_5years'], 'left')

GradientBoostingClassifier 0.9725333333333334
RandomForestClassifier 0.9872